<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Checkout</title>
</head>
<body>
    <h1>Booking Checkout</h1>
    <form action="/checkout" method="post">
        <input type="submit">
    </form>
    
</body>
</html>